<!-- <div class="container"> -->
        <div class="card">
                <div class="card-header">
                   <img src="../../../assets/professional_avatar.jpg" alt="John" style="width:30%;height: 100px;">
                   <ul class="main-nav">
                      <li>
                         <h6><i style = "float:left;margin-right: 5px;" class="fa fa-building"></i><span>{{ (name == "") ? "Name" : name }}</span></h6>
                      </li>
                      <li>
                         <h6><i style = "float:left;margin-right: 5px;" class="fa fa-home"></i><span>{{(location == "") ? "Location" : location }}</span></h6>
                      </li>
                   </ul>
                </div>
                <div class="card-body">
                   <ul class="details">
                      <li>
                         <h6><i style = "float:left;margin-right: 5px;" class="fa fa-user"></i><span>{{(organization == "") ? "Owner At" : organization }}</span></h6>
                      </li>
                      <li>
                         <h6><i style = "float:left;margin-right: 5px;" class="fa fa-briefcase"></i><span>{{(address == "") ? "Address" : address }}</span></h6>
                      </li>
                   </ul>
                   <ul class="details2" >
                      <li>
                         <h6><i style = "float:left;margin-right: 5px;" class="fa fa-phone"></i><span>{{(ph_number == "") ? 1234567890 : ph_number }}</span></h6>
                      </li>
                      <li>
                         <h6><i style = "float:left;margin-right: 5px;" class="fa fa-envelope"></i><span >{{(email == "") ? "Email" : email }}</span></h6>
                      </li>
                   </ul>
                </div>
                <div>
                   
                   <a [attr.href] = "(website == '') ? '' : website"><i class="fa fa-globe"></i></a>  
                   <a [attr.href]="(facebook == '') ? '' : facebook"><i class="fa fa-facebook"></i></a> 
                </div>
                <p class = "type-border"></p>
             </div>
             <div class="form">
                <div style="text-align:center">
                </div>
                <form (ngSubmit) = "onSubmit()">
                   <div class="w3-row">
                      <div class="w3-container w3-third">
                         <label>Name</label>
                         <input type="text" [(ngModel)]="name" name="name" placeholder="Your name..">
                      </div>
                      <div class="w3-container w3-third">
                         <label>Owner At</label>
                         <input type="text" [(ngModel)]="organization" name="organization" placeholder="Your organization..">
                      </div>
                      <div class="w3-container w3-third">
                            <label for="lname">Address</label>
                            <input type="text" [(ngModel)]="address" name = "address" placeholder="Your address..">
                      </div>
                   </div>
                   <div class="w3-row">
                      <div class="w3-container w3-third">
                            <label >Location</label>
                            <input type="text" [(ngModel)]="location" name="location" placeholder="Your location..">
                      </div>
                      <div class="w3-container w3-third">
                         <label for="lname">Email</label>
                         <input type="text" [(ngModel)]="email" name = "email" placeholder="Your last name..">
                      </div>
                      <div class="w3-container w3-third">
                         <label for="lname">Phone Number</label>
                         <input type="number" [(ngModel)]="ph_number" name="ph_number"  placeholder="Your contact number..">
                      </div>
                   </div>
                   <div class="w3-row">
                      <div class="w3-container w3-third">
                         <label>Facebook</label>
                         <input type="text" [(ngModel)]="facebook" name="facebook" placeholder="Your facebook..">
                      </div>
                      <div class="w3-container w3-third">
                         <label>Website</label>
                         <input type="text" [(ngModel)]="website" name="website" placeholder="Your Website..">
                      </div>
                   </div>
                   <div class="w3-row">
                      <div class="w3-container w3-half">
                         <input type="file" value="Profile Photo">
                      </div>
                      <div class="w3-container w3-half">
                         <input type="submit" [value]="isNew ? 'Create': 'Update'" [disabled] = "!this.name || !this.organization || !this.email ||!this.address || !this.location || !this.ph_number">
                      </div>
                   </div>
                </form>
             </div>
             