<div class="header">
        <div class="hero-text">
                <h1>Business, Network, Contacts</h1>
                <br>
                    <h3>Contact management service for individuals and enterprises</h3>
                <a class= "btn btn-full"  routerLink="/professional-card" href = "#">Professional Card</a>
                <a class= "btn btn-full" routerLink="/business-card" href = "#">Business Card</a>
                <a class= "btn btn-full" href = "#">Student Card</a>
        </div>
</div>